/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* @font-face {
  font-family: 'Geomanist';
  src: url('fonts/Geomanist-Regular.woff2') format('woff2'),
       url('fonts/Geomanist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: "Roboto", sans-serif;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

header.sticky .main_header_nav ul li a {
  color: #3a3a3a;
}

header.sticky .main_header_nav ul li a:hover {
  color: #ef375d;
}

header.sticky .header_contact_info p {
  color: #3a3a3a;
}

header.sticky .header_contact_info p:hover {
  color: #ef375d;
}

header.sticky .header_contact_info .header_contact i {
  border: 1px solid #3a3a3a;
  color: #3a3a3a;
}

.hero-wrapper {
  position: relative;
  background-image: url(../img/wrapper_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000005;
  z-index: 1;
}

/* header-section-starts */
header {
  padding: 24px 0;
  position: relative;
  z-index: 99;
}

.logo {
  display: inline-block;
  width: 192px;
  height: 55px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_header_nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 235px;
}

.main_header_nav ul li {
  list-style: none;
  padding:2px 10px;
}

.main_header_nav ul li a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #3a3a3a;
  font-weight: 600;
  transition: all .3s ease;

}

.main_header_nav ul li a:hover {
  color: #ef375d;
}

.header_contact_info .header_contact {
  text-decoration: none;
  align-items: baseline;
  color: #ffffff;
  column-gap: 12px;
}

.header_contact_info .header_contact i {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.header_contact_info p {
  margin-bottom: 0;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  transition: all .3s ease;
}

.header_contact_info p:hover {
  color: #000;
}

/* .sub-menu-1 {
  display: none;
} */
.main_header_nav .sub-menu-1 {
    display: none;
}

/* If using .active class, jQuery will also trigger this state */
.main_header_nav li.active > .sub-menu-1 {
    display: block;
}
.main_header_nav ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: linear-gradient(139deg, #f91d8f 0%, #175dad 100%);
  margin-top: 5px;
  max-width: 280px;
  box-shadow: 8px 3px 10px rgba(11, 11, 11, 0.1);
  /* margin-left: -15px; */
}

.main_header_nav ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.main_header_nav ul li:hover .sub-menu-1 ul li {
  width: 250px;
  padding: 10px;
  border-bottom: 1px solid #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
text-transform: uppercase;
}

.main_header_nav ul li:hover .sub-menu-1 ul li a {
  color: #fff;
  transition: all .3s ease;
}

.main_header_nav ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}

.main_header_nav ul li:hover .sub-menu-1 ul li a:hover {
  color: #000;
}

/* header-section-ends */


main {
  z-index: 9;
  position: relative;
}

/* hero-section-starts */
.hero_section {
  position: relative;
  z-index: 9;
  padding: 150px 0;
  padding-bottom: 250px;
}

.hero_area {
  padding-left: 30px;
}

.hero_content h1 {
  position: relative;
  font-size: 80px;
  letter-spacing: -1px;
  line-height: 82px;
  color: #2b2a2a;
  font-weight: 300;
  padding-bottom: 30px;
  margin-bottom: 60px;
}

.hero_content h1::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -35px;
  bottom: -10%;
  background: #ef375d;
}

.hero_content h1 span {
  display: block;
}

.hero_content p {
  font-size: 30px;
  line-height: 40px;
  color: #616161;
  font-weight: 400;
  padding-bottom: 40px;
}

.book_button button {
  padding: 20px 50px;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 40px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  transition: all .5s ease;
  border-radius: 5px;
  filter: drop-shadow(6.364px 6.364px 9.5px rgba(9, 9, 9, 0.14));
  background: linear-gradient(139deg, #f91d8f 0%, #175dad 100%);
}

.book_button button:hover {
  background-image: linear-gradient(139deg, #f91d63 0%, #104785 100%);
}
.mobile_nav_header {
    display: none;
}
.top_header_btn {
    display: none;
}
.black_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000008e;
    z-index: 100;
    display: none;
}
 .main_header_nav ul li.active > a .mean-expand i {
  transform: rotate(180deg);
}
/* hero-section-ends */


/* book-section-starts */
.book_section {
  background-color: #f2f5f4;
  padding: 20px 0;
}

.book_content {
  padding: 40px 30px;
  position: relative;
  padding-bottom: 0;
  margin-top: -150px;

  border-radius: 5px;
  background-color: #ffffff;
  z-index: 99;
  border: 1px solid #cfcfcf;
}

.book_heading {
  position: relative;
}

.book_heading::after {
  content: '';
  left: 430px;
  top: 5px;
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #e7e7e7;
}

.book_heading h3 {
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Geomanist";
}

.gradient-text {
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;

  background: linear-gradient(139deg, #f91d8f 0%, #1d79f9 50%, #175dad 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.book_heading h2 {
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 54px;
  color: #2a2a2a;
  font-weight: 300;
}

.book_heading h2 span {
  font-weight: 500;
}

/* .book_form form{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
} */
.book_input_form {
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  color: #9d9d9d;
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  padding: 5px;
  background: transparent;
  outline: none;
}

::placeholder {
  font-size: 16px;
  line-height: 40px;
  color: #9d9d9d;
  font-weight: 400;

}

.book_input_form label {
  font-size: 15px;
  line-height: 40px;
  color: #9d9d9d;
  font-weight: 400;
}

.book_input_form span {
  color: #6699ff;
}

.book_submit_btn {
  padding: 30px 58px;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(6.364px 6.364px 9.5px rgba(9, 9, 9, 0.14));
  background-image: linear-gradient(139deg, #ffb305 0%, #6ba32f 100%);
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
}

.book_submit_btn:hover {
  background-image: linear-gradient(139deg, #ffb305 0%, #49731d 100%);
}

/* book-section-ends */

/* welcome-section-starts */
.welcome_section {
  padding: 50px 0;
  position: relative;
  background-color: #f2f5f4;
  background-image: url(../img/welcome_img_3.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 350px auto;
}

.welcome_heading {
  padding-left: 30px;
}

.welcome_heading h3 {
  position: relative;
  font-size: 20px;
  line-height: 40px;
  color: #2a2a2a;
  font-weight: 400;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-family: "Geomanist";
}

.welcome_heading h3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -25px;
  bottom: -25%;
  background: #ef375d;
}

.welcome_heading h2 {
  font-family: "Geomanist";
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 74px;
  color: #2b2a2a;
  font-weight: 300;
}

.welcome_heading h2 span {
  font-weight: 500;
}

.welcome_image {
  max-width: 410px;
  height: 500px;
  margin-bottom: 50px;
}

.welcome_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome_text {
  margin-bottom: 50px;
}

.welcome_text h2 {
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 44px;
  color: #2b2a2a;
  font-weight: 300;
}

.welcome_text h2 span {
  font-weight: 500;
}

.welcome_text h3 {
  font-size: 22px;
  line-height: 30px;
  color: #2b2a2a;
  font-weight: 400;
}

.welcome_text p {
  font-size: 18px;
  line-height: 28px;
  color: #616161;
  font-weight: 300;

}

/* welcome-section-ends */

/* contact-section-starts */
.contact_section {
  padding: 160px 0;
  background-image: url(../img/contact_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_area {
  padding-left: 30px;
}

.contact_content h3 {
  font-size: 20px;
  line-height: 40px;
  color: #2a2a2a;
  font-weight: 400;
  position: relative;
  font-family: "Geomanist";
  margin-bottom: 40px;
}

.contact_content h2 {
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 74px;
  color: #ffffff;
  font-weight: 200;
  margin-bottom: 60px;

}

.contact_content h3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -35px;
  bottom: -30%;
  background: #ef375d;
}

.contact_content h2 span {
  font-weight: 400;
}

.contact_button button {
  padding: 20px 38px;
  border-radius: 5px;
  filter: drop-shadow(6.364px 6.364px 9.5px rgba(9, 9, 9, 0.14));
  background-image: linear-gradient(139deg, #ffb305 0%, #6ba32f 100%);
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  border: none;
  gap: 14px;
}

.contact_button button i {
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 50%;
}

.contact_button button p {
  margin-bottom: 0;
}

.contact_button button:hover {
  background-image: linear-gradient(139deg, #ffb305 0%, #49731d 100%);
}

/* contact-section-ends */

/* service-section-starts */
.service_section {
  position: relative;
  padding: 80px 0;
  background-color: #f2f5f4;
}

.service_heading h3 {
  position: relative;
  font-size: 20px;
  line-height: 40px;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Geomanist";
  margin-bottom: 30px;
}

.service_heading h3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -35px;
  bottom: -30%;
  background: #ef375d;
}

.service_heading {
  padding-left: 30px;
}

.service_heading h2 {
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 74px;
  color: #2b2a2a;
  font-weight: 200;

}

.service_heading h2 span {
  font-weight: 400;
}

.service_heading p {
  font-size: 18px;
  line-height: 28px;
  color: #616161;
}

.service_heading p span {
  font-weight: 500;
}

.service_row {
  row-gap: 25px;
}

.service_image_content {
  position: absolute;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
  bottom: 12px;
  left: 0;
  font-family: "Geomanist";
}

.service_image_content h3 {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #fffefe;
  margin-bottom: 0;
  padding-bottom: 0;
}

.service_image_content a {
  text-decoration: none;
}

.service_image_content a i {
  color: #ffffff;
  font-size: 20px;
}

.service_content_box {
  position: relative;
  overflow: hidden;
}

.service_image {
  max-width: 480px;
  height: 520px;
}

.service_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.service_content {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  inset: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px;
  background: linear-gradient(135deg, #ffcc33, #ff5f6d, #8b2eff);
  opacity: 0.902;
  cursor: pointer;
  visibility: hidden;
  text-align: left;
  transition: all .3s ease-in-out;
}

.service_content_box:hover .service_content {
  visibility: visible;
}

.service_content h3 {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #fffefe;
  text-align: left;
}

.service_content p {
  font-size: 18px;
  padding-right: 50px;
  line-height: 28px;
  color: #fffefe;
}

/* service-section-ends */


/* project-sections-starts */
.project_section {
  background-color: #f3e9dd;
  position: relative;
  padding: 80px 0;
}

.project_content_area {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.project_heading h3 {
  position: relative;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Geomanist";
  margin-bottom: 40px;
}

.project_heading h3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -35px;
  bottom: -30%;
  background: #ef375d;
}

.project_heading h2 {
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 74px;
  color: #2b2a2a;
  font-weight: 200;
}

.project_heading h2 span {
  font-weight: 400;
}

.project_heading p {
  font-size: 18px;
  line-height: 28px;
  color: #616161;
  font-weight: 300;
  margin-bottom: 0;
}

.project_button {
  padding: 20px 48px;
  transition: all .3s ease;
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(6.364px 6.364px 9.5px rgba(9, 9, 9, 0.14));
  background-image: linear-gradient(139deg, #f91d8f 0%, #175dad 100%);
}

.project_button a {
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
}

.project_button:hover {
  background-image: linear-gradient(139deg, rgb(249, 29, 99) 0%, rgb(16, 71, 133) 100%);
}




/* Tabs */
.main_tabs {
  /* width: 600px; */
  /* background-color: #09F; */
  border-radius: 5px 5px 5px 5px;
  margin-top: 30px;
}

.project_tab_area {
  padding-left: 30px;
}

ul#tabs-nav {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 5px;
  padding-bottom: 0;
  overflow: auto;
  margin-bottom: 25px;
  border-bottom: 1px solid #decfbc;
}

ul#tabs-nav li {
  position: relative;

}

ul#tabs-nav li.active a {
  color: #b7ac9e;
}

/* ul#tabs-nav li:hover,
ul#tabs-nav li.active {
  background-color: #08E;
} */
ul#tabs-nav li::before {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #e73d3a;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.25s ease;
  border-radius: 2px;
}

.indoor_project_heading {
  margin-bottom: 20px;
}

.indoor_project_heading select {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 74px;
  padding: 2px 15px;
  color: #2b2a2a;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #d3c7b9;
}

.indoor_project_heading select option {
  background-color: #fff;
  /* Background of unselected options (works in some browsers) */
  color: #2b2a2a;
}


.indoor_project_heading select option:checked {
  background-color: #ef375d;
  color: #fff;
}


.outdoor_project_heading {
  margin-bottom: 20px;
}

.outdoor_project_heading select {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 74px;
  padding: 2px 15px;
  color: #2b2a2a;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #d3c7b9;
}

.outdoor_project_heading select option {
  background-color: #fff;
  /* Background of unselected options (works in some browsers) */
  color: #2b2a2a;
}

.outdoor_project_heading select option:checked {
  background-color: #ef375d;
  color: #fff;
}

.indoor_project_heading select option:checked {
  background-color: #ef375d;
  color: #fff;
}

ul#tabs-nav li.active::before,
ul#tabs-nav li:hover::before {
  opacity: 1;
  transform: scaleY(1);
}

#tabs-nav li a {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #b7ac9e;


  font-weight: 400;
}

.tab-content {
  padding: 10px;

}

/* Just for CodePen styling - don't include if you copy paste */

.common_project_heading h2 {
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 45px;
  color: #2b2a2a;
  font-weight: 300;
}

.project_row {
  row-gap: 25px;
}

.common_project_image {
  max-width: 730px;
  height: 350px;
}

.common_project_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.common_project_text {
  position: relative;
}

.common_project_hover {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: end;

  inset: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px;
  background: linear-gradient(135deg, #ffcc33, #ff5f6d, #8b2eff);
  opacity: 0.902;
  cursor: pointer;
  visibility: hidden;
  text-align: left;
  transition: all .3s ease-in-out;
}

.common_project_text:hover .common_project_hover {
  visibility: visible;
}

.common_project_hover h3 {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #fffefe;
  font-weight: 400;
}

.common_project_hover a {
  color: #fff;
  transition: all .3s ease;
}

.common_project_hover a:hover {
  color: #000;
}


/* project-sections-ends */



/* contract-section-starts */
.contract_section {
  padding: 80px 0;
  background-image: url(../img/contract_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contract_heading {
  padding-left: 30px;
}

.contract_heading h3 {
  position: relative;
  font-size: 20px;
  line-height: 40px;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Geomanist";
  margin-bottom: 30px;
}

.gradient-text-2 {
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;

  background: linear-gradient(139deg, #c8e2e7 0%, #b353b4 50%, #175dad 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.contract_heading h3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -35px;
  bottom: -30%;
  background: #ffffff;
}

.contract_heading h2 {
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 74px;
  color: #ffffff;
  font-weight: 200;
  padding-right: 110px;
  margin-bottom: 10px;
}

.contract_heading h2 span {
  font-weight: 400;
}

.contract_heading p {
  font-size: 18px;
  line-height: 28px;
  color: #fedde1;
  font-weight: 400;
  margin-bottom: 45px;
}

.cmn_1 {
  background-color: #fffcee;
}

.cmn_2 {
  background-color: #f4ffe5;
}

.contract_row {

display: flex;

}

.contract_row .contract_col {
  padding-left: 1px;
  padding-right: 1px;
}

.contract_text_area {
  padding: 20px;
}

.contract_text_area img {
  width: 58px;
  height: 60px;
  margin: 20px 0;
}

.contract_text_area h3 {
  font-size: 28px;
  line-height: 32px;
  color: #2b2a2a;
  font-weight: 400;
  margin-bottom: 20px;
}

.contract_text_area h3 span {
  display: block;
}

.contract_text_area p {
  font-size: 18px;
  line-height: 28px;
  color: #616161;
  font-weight: 400;
}

/* contract-section-ends */


/* decoration-section-starts */
.decoration_section {
  position: relative;
  padding: 150px 0;
  padding-bottom: 550px;
  background-image: url(../img/decoration_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .process-section {
  position: relative;
  padding: 50px 0;
} */
.decoration_content_area {
  padding-left: 30px;
  margin-bottom: 40px;
}

.decoration_content_area h3 {
  position: relative;
  font-size: 20px;
  line-height: 40px;
  color: #2a2a2a;
  font-weight: 400;
  margin-bottom: 30px;
}

.decoration_content_area h3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -35px;
  bottom: -30%;
  background: #ffffff;
}

.decoration_content_area h2 {
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 74px;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 10px;
}

.decoration_content_area p {
  font-size: 18px;
  line-height: 28px;
  color: #ecd5c5;
  font-weight: 400;
  padding-right: 515px;
}


.process-steps {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
  padding-left: 30px;
}

/* .step::before {
  content: '';
  position: absolute;
  top: 32px;
  left: 50px;
  width: 106%;
  border-top: 2px solid #fcf300;
  z-index: 0;
} */

.step:last-child::before {
  content: none;
}

.step {
  position: relative;
  z-index: 1;
}

.circle {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.step a {
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  transition: all .3s ease;
}

.step a:hover {
  color: #000;
}

/* decoration-section-ends */


/* faq-section-starts */
.faq_section {
  padding: 80px 0;
  padding-bottom: 60px;
  background-color: #f4f4f4;
  padding-bottom: 90px;

}

.faq_heading {
  padding-left: 30px;
}

.faq_content_area {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.faq_heading h3 {
  position: relative;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Geomanist";
  margin-bottom: 40px;
}

.faq_heading h3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -35px;
  bottom: -30%;
  background: #ef375d;
}

.faq_heading h2 {
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 74px;
  color: #2b2a2a;
  font-weight: 200;
}

.faq_heading h2 span {
  font-weight: 400;
}

.faq_button {
  padding: 20px 48px;
  transition: all .3s ease;
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(6.364px 6.364px 9.5px rgba(9, 9, 9, 0.14));
  background-image: linear-gradient(139deg, #f91d8f 0%, #175dad 100%);
}

.faq_button a {
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
}

.faq_button:hover {
  background-image: linear-gradient(139deg, rgb(249, 29, 99) 0%, rgb(16, 71, 133) 100%);
}

.faq_image {
  max-width: 670px;
  height: 390px;
}

.faq_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.faq-question {
  font-size: 24px;
  line-height: 40px;
  color: #2a2a2a;
  font-weight: 400;
  position: relative;
  transition: all .3s ease;
}

.faq-question:hover {
  color: #ef375d;
  cursor: pointer;
}

.faq-question::after {
  content: "+";
  position: absolute;
  right: 0;
  font-size: 27px;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-question::after {
  content: "−";
}

.faq-answer {
  display: none;
  font-size: 18px;
  line-height: 28px;
  color: #616161;
  font-weight: 300;
}

.faq_content {
  padding: 50px 0;
}

/* faq-section-ends */


/* testimonial-section-starts */
.testimonial_section {
  position: relative;
  padding: 112px 0;
  background-color: #f3e8db;
}

.testimonial_heading {
  padding-left: 30px;
  margin-bottom: 30px;
}

.testimonial_heading h3 {
  position: relative;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Geomanist";
  margin-bottom: 40px;
}

.testimonial_heading h3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -35px;
  bottom: -30%;
  background: #ef375d;
}

.testimonial_heading h2 {
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 74px;
  color: #2b2a2a;
  font-weight: 200;
  margin-bottom: 20px;
}

.testimonial_heading h2 span {
  font-weight: 400;
}

.testimonial_heading p {
  font-size: 18px;
  line-height: 28px;
  color: #ab9f91;
  font-weight: 400;
  padding-right: 500px;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #e10808;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial_profile_content {
  background-color: #ffffff;
  border: 1px solid #e3dacf;
  padding: 40px 55px 40px 36px;
}

.testimonial_text p {
  font-size: 23px;
  line-height: 35px;
  color: #444444;
  font-weight: 300;
  text-align: left;
  margin-bottom: 35px;
}

.testimonial_profile_image {
  width: 85px;
  height: 85px;
}

.testimonial_profile_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.testimonial_profile_text {
  border-top: 1px solid #eaeaea;
  gap: 22px;
  padding-top: 30px;
}

.testimonial_creater h3 {
  font-size: 22px;
  line-height: 32px;
  color: #2b2a2a;
  font-weight: 400;
  margin-bottom: 0;
}

.testimonial_creater p {
  font-size: 17px;
  line-height: 32px;
  color: #989898;
  font-weight: 300;
  margin-bottom: 0;
  text-align: left;
}

.testimonial_stars i {
  color: #ff9000;
  font-size: 16px;
  margin-bottom: 22px;
}

/* .testimonial_next_btn, .testimonial_prev_btn{
  padding: 25px 30px;
  background-image: linear-gradient(139deg, #f91d8f 0%, #175dad 100%);
}
.swiper .testimonial_next_btn:after, .swiper .testimonial_prev_btn:after{
color: #ffffff;
font-size: 15px;
} */
.testimonial_heading_row {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.testimonial_nav_buttons {
  display: flex;
  gap: 20px;
}

/* .testimonial_next_btn,
.testimonial_prev_btn {
  position: static!important; 
  padding: 25px 30px;
  background-image: linear-gradient(139deg, #f91d8f 0%, #175dad 100%);
  border-radius: 4px;
  cursor: pointer;
} */

.testimonial_nav_buttons .testimonial_next_btn:after,
.testimonial_nav_buttons .testimonial_prev_btn:after {
  color: #2b2a2a !important;
  font-size: 15px;
}

/* Common button styles */
.testimonial_next_btn,
.testimonial_prev_btn {
  box-sizing: border-box;
  /* keeps size consistent */
  position: static !important;
  margin: 0 !important;
  padding: 25px 30px;
  cursor: pointer;
  opacity: 100% !important;
  border: 1px solid transparent !important;
  transition: background 0.3s ease, opacity 0.3s ease;

}

/* Active (clickable) buttons */
.testimonial_next_btn:not(.swiper-button-disabled),
.testimonial_prev_btn:not(.swiper-button-disabled) {
  background:
    linear-gradient(139deg, #f91d8f 0%, #175dad 100%) padding-box,
    /* inside */
    linear-gradient(139deg, #f91d8f 0%, #175dad 100%) border-box;
  /* border */
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.testimonial_next_btn:not(.swiper-button-disabled):after,
.testimonial_prev_btn:not(.swiper-button-disabled):after {
  color: #fff !important;
}

/* Disabled buttons */
.swiper-button-disabled {
  border: 1px solid #dacec0 !important;
  background-color: transparent !important;
  opacity: 0.5;
  /* Optional: makes it look inactive */
  cursor: default;
}

/* testimonial-section-ends */



/* blog-section-starts */
.blog_section {
  background-color: #f4f4f4;
  padding: 120px 0;

}

.blog_heading {
  padding-left: 30px;
}

.blog_heading h3 {
  position: relative;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Geomanist";
  margin-bottom: 40px;
}

.blog_heading h3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -35px;
  bottom: -30%;
  background: #ef375d;
}

.blog_heading h2 {
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 74px;
  color: #2b2a2a;
  font-weight: 200;
  margin-bottom: 20px;
}

.blog_content_area {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 40px;
}

.blog_heading h2 span {
  font-weight: 400;
}

.blog_button {
  padding: 20px 87px;
  transition: all .3s ease;
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(6.364px 6.364px 9.5px rgba(9, 9, 9, 0.14));
  background-image: linear-gradient(139deg, #f91d8f 0%, #175dad 100%);
}

.blog_button a {
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
}

.blog_button:hover {
  background-image: linear-gradient(139deg, rgb(249, 29, 99) 0%, rgb(16, 71, 133) 100%);
}

.blog_image {
  max-width: 744px;
  height: 395px;
}

.blog_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_content_wrapper {
  position: relative;
  overflow: hidden;
}

.blog_content_wrapper:hover .blog_text {
  visibility: visible;
}

.blog_text {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  inset: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px;
  background: linear-gradient(135deg, #ffcc33, #ff5f6d, #8b2eff);
  opacity: 0.902;
  cursor: pointer;
  visibility: hidden;
  text-align: left;
  transition: all .3s ease-in-out;
}

.blog_text h3 {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 400;
}

.blog_text h2 {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 400;
}

.blog_text p {
  font-size: 18px;
  line-height: 28px;
  color: #fffefe;
  padding-right: 80px;
  font-weight: 400;
}

/* blog-section-ends */


/* newsletter-section-starts */
.newsletter_section {
  background-image: url(../img/newsletter_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 134px 0;
}

.newsletter_heading {
  padding-left: 30px;
}

.newsletter_heading h3 {
  position: relative;
  font-size: 20px;
  line-height: 40px;
  color: #2a2a2a;
  font-weight: 400;
  margin-bottom: 30px;
}

.newsletter_heading h3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 4px;
  left: -35px;
  bottom: -30%;
  background: #ffffff;
}

.newsletter_heading h2 {
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 74px;
  color: #ffffff;
  font-weight: 200;
  margin-bottom: 10px;
}

.newsletter_heading h2 span {
  font-weight: 400;
}

.newsletter_heading p {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 400;
}

.newsletter_input_form input[type="text"],
input[type="email"],
textarea {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  color: #a6a8d2;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ae80c4;
  padding: 5px;
  background: transparent;
  outline: none;
}

.newsletter_input_form label {
  color: #a6a8d2;
}

.newsletter_submit_btn {
  padding: 20px 90px;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(6.364px 6.364px 9.5px rgba(9, 9, 9, 0.14));
  background-image: linear-gradient(139deg, #ffb305 0%, #6ba32f 100%);
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  margin-top: 30px;
  transition: all .3s ease;
}

.newsletter_submit_btn:hover {
  background-image: linear-gradient(139deg, #ffb305 0%, #49731d 100%);
}

/* newsletter-section-ends */


/* footer-section-stars */
.footer_section {
  padding: 100px 0;
  background-color: #28293b;
}

.footer_section .footer_logo {
  display: inline-block;
  width: 192px;
  height: 55px;
  margin-bottom: 20px;
}

.footer_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer_section_area {
  border-bottom: 1px solid #404152;
  padding-bottom: 40px;
}

.about_footer_section h3 {
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 30px;
}

.about_footer_section {
  padding-right: 70px;
}

.footer_section_list_wrapper {
  padding-right: 25px;
  position: relative;
}

.footer_section_list_wrapper::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  background-color: #404152;
  left: -50px;
  top: 0;
}

.footer_service_area {
  padding-right: 30px;
}

.about_footer_section p {
  font-size: 16px;
  line-height: 22px;
  color: #9fa0b1;
  font-weight: 400;
}

.footer_section_list_wrapper h3 {
  font-size: 22px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
}

.footer_list_text a {
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  color: #9e9fb0;
  font-weight: 400;
  transition: all .3s ease;
}

.footer_list_text a:hover {
  color: #ef375d;
}

.footer_service_area h3 {
  font-size: 22px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
}

.footer_service_list_text a {
  font-size: 18px;
  line-height: 40px;
  color: #9e9fb0;
  font-weight: 400;
  text-decoration: none;
  transition: all .3s ease;
}

.footer_service_list_text a:hover {
  color: #ef375d;
}

.footer_contact_area h3 {
  font-size: 22px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;

  position: relative;
}

.common_design {
  position: relative;

}

.common_design h3 {
  margin-bottom: 40px;
}

.common_design h3::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 40px;
  height: 1px;
  background: #f91d8f;
}

.common_design h3::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 40px;
  width: 85%;
  height: 1px;
  background: #4c4d60;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon_box {
  width: 40px;
  height: 40px;
  padding: 20px;
  border: 2px solid;
  border-image: linear-gradient(45deg, #ff0077, #00ccff) 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.icon_box i {
  font-size: 18px;
  background: linear-gradient(45deg, #ff0077, #00ccff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-text a {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  color: #9e9fb0;
  font-weight: 400;
  transition: all .3s ease;
}

.contact-text a:hover {
  color: #ef375d;
}

.copyright_content {
  display: flex;
  justify-content: space-between;
}

.footer_icons {
  display: flex;
  gap: 20px;
}

.footer_icons a {
  text-decoration: none;
}

.footer_icons a i {
  color: #707181;
  font-size: 18px;
  height: 40px;
  width: 40px;
  border: 1px solid #707181;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.footer_icons a i:hover {
  background: linear-gradient(139deg, #ff0077, #5c4aa3);
  color: #fff;
  border: none;
}

.copyright_section {
  margin-top: 30px;
}

.copyright_text p {
  font-size: 14px;
  line-height: 40px;
  color: #9e9fb0;
  font-weight: 400;
}

.copyright_policy {
  display: flex;
  gap: 20px;
}

.copyright_policy a {
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  color: #9e9fb0;
  font-weight: 400;
  position: relative;
  transition: all .3s ease;
}

.copyright_policy a::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 1px;
  background-color: #9e9fb0;
  left: -10px;
  top: 10px;
}

.copyright_policy a:hover {
  color: #ef375d;
}

.footer_copyright_condition {
  display: flex;
  gap: 20px;
}

/* footer-section-ends */

/* scroll */
.scroll_top .button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  background: linear-gradient(139deg, #ff0077, #5c4aa3);
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  font-size: 20px;
  z-index: 1000;
  cursor: pointer;
  transition: all .3s ease;
}
.scroll_top .button:hover{
  color: #000;
}
.scroll_top .button.show {
  opacity: 1;
  visibility: visible;
}